*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #6d0ee8;
  --background-2: hsl(212, 33%, 89%);
  --red: 4px 6px 17px #e80e0e6b;
  --background-3: rgb(159 97 240 / 18%);
}

body {
  overflow: scroll;
  font-family: "Baloo Bhai 2", cursive;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: 88vh;
  background-image: url(pasta.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: slider 9s infinite linear;
  margin-top: 68px;
}

nav {
  background-color: var(--primary);
  border-radius: 0 0 5px 5px;
  height: 70px;
  width: 100%;
  position: fixed;
  top: -2px;
}
.nav-header img {
  position: relative;
  width: 55px;
  margin-top: 6px;
  left: 48px;
}

.nav-toggle {
  opacity: 0;
  position: absolute;
  right: 40px;
  width: 46px;
  height: 49px;
  top: 11px;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89vh;
  margin-left: 74px;
}

.links li {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  margin: 0 8px;
}

.links li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 24px 10px;
}

.links li:hover,
.links li .active {
  padding-bottom: 15px;

  text-decoration: underline;
  color: white;
}

@keyframes slider {
  0% {
    background-image: url(./images/pasta.jpg);
  }
  33% {
    background-image: url(./images/samosa.jpg);
  }
  66% {
    background-image: url(./images/parantha.jpg);
  }
  100% {
    background-image: url(./images/pastery.jpg);
  }
}

@media screen and (max-width: 676px) {
  .links {
    opacity: 0;
  }
  .nav-toggle {
    opacity: 1;
  }
}

.container-fluid {
  width: 100%;
  height: 106vh;
  background-color: var(--background-2);
  padding-bottom: 8rem;
}

.head-2 {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
  text-shadow: 2px 15px 22px var(--primary);
  color: var(--primary);
}
.card-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 8rem;
}

.card {
  text-align: center;
  background-color: white;
  box-shadow: 4px 6px 17px var(--primary);
  border-radius: 5px;
  width: 13rem;
  height: 17rem;
  margin-top: 68px;
}

.card img {
  width: 100%;
  overflow: hidden;
  height: 25vh;
  padding: 10px;
  border-radius: 1px;
}

.head-3 {
  display: flex;
  justify-content: center;
  /* padding-top: 6rem; */
  text-shadow: 2px 15px 22px var(--primary);
  color: var(--primary);
}
.card-2 .breakfast {
  margin-top: -5px;
}

.card-2 p {
  width: 100%;
  font-size: 11px;
  padding: 5px 22px;
  text-align: justify;
  white-space: break-spaces;
  font-weight: 500;
}
.card-2 .btn {
  background: var(--primary);
  color: white;
  display: block;
  margin: 0 66px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
}

.container-3 {
  background-color: var(--red);
}
.new {
  display: grid;
  grid-template-columns: repeat(5, 318px);
  margin: 29px 0px;
  margin-left: 150px;
}
.space {
  margin-top: 69px;
}

.card-2 {
  margin: 0 50px;
  height: 17.7rem;
}

.items-container {
  overflow: scroll;
  height: 118vh;
}

.marg {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

footer {
  background-color: #111118;
  color: white;
  padding: 24px 0;
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  height: 85vh;
  margin-top: 5rem;
}

.footer {
  padding-top: 3rem;
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(3, 1fr);
}

.form {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 22px;
  color: white;
  border-radius: 39px;
}

.form h1 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.formgroup {
  margin-top: 19px;
}

.form-element {
  margin: 32px 28px;
  padding: 0px;
}

.form-element input {
  height: 33px;
}

.form-element #one {
  margin-left: 20px;
}

.form-element #three {
  height: 76px;
  margin-left: 4px;
}

.site-map h1 {
  width: 100%;
  text-align: center;
  margin-top: 17px;
}

.pages {
  margin-top: 37px;
  margin-left: 66px;
  width: 77%;
}

.pages li {
  padding-top: 1px;
  padding-bottom: 9px;
  margin-bottom: 1px;
  list-style: none;
  font-size: 17px;
  font-family: ui-monospace;
  font-weight: 600;
}

.pages a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.contact {
  width: 100%;
  padding-right: 28px;
  height: 100%;
}

.contact .img {
  display: flex;
  align-items: center;
}

.img img {
  width: 73px;
  position: relative;
  left: 13px;
}

.img h1 {
  text-align: center;
  width: 64%;
  margin-left: 24px;
}

.para {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  padding-left: 46px;
}

.para p1 {
  font-size: 17px;
  font-family: ui-monospace;
  font-weight: 600;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.items-container::-webkit-scrollbar {
  display: none;
}
